<header class="work-view-header">
  <div class="status-bar">
    <div class="item">
      <span class="label"
            translate-once="WV.WORKING_TODAY"></span>
      <span class="no-wrap">
      <strong ng-bind="vm.totalTimeWorkedToday|duration"></strong>
      <ng-md-icon icon="timer"></ng-md-icon>
      </span>
    </div>

    <div class="item">
      <span class="label"
            translate-once="WV.ESTIMATE_REMAINING"></span>
      <span class="no-wrap">
      ~<strong ng-bind="vm.totalEstimationRemaining|duration"></strong>
      <ng-md-icon icon="timer"></ng-md-icon>
      </span>
    </div>

    <div class="item"
         ng-if="vm.config.isShowTimeWorkedWithoutBreak">
      <span class="label"
            translate-once="WV.WITHOUT_BREAK"></span>
      <span class="no-wrap">
        <strong ng-bind="vm.session.timeWorkedWithoutBreak|duration"></strong><ng-md-icon icon="timer"></ng-md-icon>
      </span>
    </div>
    <md-button ng-click="vm.isHideControls = !(vm.isHideControls);"
               class="md-icon-button md-primary">
      <ng-md-icon icon="vertical_align_center"
                  class="hide-controls-icon"
                  aria-label="collapse sub tasks and notes"></ng-md-icon>
    </md-button>

    <md-button ng-click="vm.collapseAllNotesAndSubTasks()"
               class="md-icon-button md-primary">
      <ng-md-icon icon="vertical_align_center"
                  aria-label="collapse sub tasks and notes"></ng-md-icon>
    </md-button>
  </div>
</header>

<section class="work-view-tasks work-view-tasks--undone">
  <p ng-if="!vm.tasksUndone.length"
     translate-once="WV.NO_UNDONE_TASKS"></p>

  <task-list tasks="vm.tasksUndone"
             current-task-id="r.currentTask.id"
             is-hide-controls="vm.isHideControls"
             on-task-done-changed="vm.onTaskDoneChangedUndoneList(task)"
             allow-task-selection="true"></task-list>
</section>

<md-button ng-click="vm.openAddTask()"
           class="md-primary md-raised">
  <ng-md-icon icon="add"></ng-md-icon>
  <span translate-once="WV.ADD_NEW_TASK"></span>
</md-button>


<md-button ui-sref="daily-summary"
           class="md-primary md-raised">
  <ng-md-icon icon="done_all"></ng-md-icon>
  <span translate-once="WV.FINISH_WORK_DAY"></span>
</md-button>


<h2 class="md-title">
  <ng-md-icon icon="playlist_add_check"></ng-md-icon>
  <span translate-once="WV.DONE_TASKS"></span>
</h2>

<section class="work-view-tasks work-view-tasks--done">
  <p ng-if="!vm.tasksDone.length"
     translate-once="WV.NO_DONE_TASKS"></p>

  <task-list tasks="vm.tasksDone"
             is-hide-controls="vm.isHideControls"
             on-task-done-changed="vm.onTaskDoneChangedDoneList(task)"
             current-task-id="r.currentTask.id"></task-list>
</section>


