<div class="daily-planner">
  <h2 class="md-headline">
    <ng-md-icon icon="border_color"></ng-md-icon>
    <span translate-once="DP.HEADING"></span>
  </h2>

  <form ng-submit="vm.addTask()"
        layout="row"
        class="add-task-form">
    <ng-md-icon icon="playlist_add"
                size="32"
                class="highlight-add-task-icon"></ng-md-icon>

    <md-autocomplete
      md-whiteframe="2"
      flex="100"
      tabindex="1"
      md-selected-item="vm.newTask"
      md-search-text="vm.newTaskTitle"
      md-items="task in vm.getFilteredTaskSuggestions(vm.newTaskTitle)"
      md-item-text="task.title"
      md-require-match="false"
      autofocus-autocomplete
      placeholder="{{'DP.SELECT_OR_CREATE'|translate}}">
      <md-item-template>
          <span md-highlight-text="vm.newTaskTitle"
                md-highlight-flags="i">{{task.title}}</span>
      </md-item-template>
    </md-autocomplete>
  </form>

  <div class="done"
       ng-show="r.tasks.length >0"
       layout="row"
       layout-sm="column"
       layout-align="center center">
    <md-button class="md-raised md-primary"
               ng-click="vm.done()"
               translate-attr="{'aria-label':'DP.GO_TO_WORK'}">
      <ng-md-icon icon="playlist_play"></ng-md-icon>
      <span translate-once="DP.GO_TO_WORK"></span>
    </md-button>
  </div>

  <div class="gt-md-2-col">
    <section>
      <h2 class="md-title">
        <ng-md-icon icon="playlist_play"></ng-md-icon>
        <span translate-once="DP.TASKS_FOR_TODAY"></span>
        <span ng-show="vm.totaleEstimate.asSeconds()> 0">
          ~<span ng-bind="vm.totaleEstimate|duration"></span>
        </span>
      </h2>

      <p ng-if="!r.tasks.length"
         class="no-tasks-info"
         translate-once="DP.NO_TASKS"></p>
      <task-list tasks="r.tasks"
                 current-task-id="r.currentTask.id"></task-list>
    </section>


    <section>
      <h2 class="md-title">
        <ng-md-icon icon="my_library_books"></ng-md-icon>
        <span translate-once="DP.BACKLOG"></span>
        <span ng-show="vm.totaleEstimateBacklog.asSeconds()> 0">
          ~<span ng-bind="vm.totaleEstimateBacklog|duration"></span>
        </span>
      </h2>

      <p ng-if="!vm.backlogTasks.length"
         class="no-tasks-info"
         translate-once="DP.NO_BACKLOG_TASKS"></p>

      <md-input-container class="md-block search"
                          ng-show="vm.backlogTasks.length > 1"
                          flex-gt-sm>
        <label translate-once="DP.SEARCH_BACKLOG"></label>
        <input type="text"
               ng-model="vm.search">
      </md-input-container>

      <task-list tasks="vm.backlogTasks"
                 filter="vm.search"
                 limit-to="{{vm.limitBacklogTo}}"></task-list>


      <div class="backlog-buttons">
        <md-button class="md-primary"
                   ng-click="vm.limitBacklogTo = false"
                   ng-hide="vm.limitBacklogTo === false || vm.backlogTasks.length <=vm.limitBacklogTo ||vm.backlogTasks.length ===0"
                   translate-attr="{'aria-label':'DP.SHOW_ALL_BACKLOG'}">
          <ng-md-icon icon="remove_red_eye"></ng-md-icon>
          <span translate-once="DP.SHOW_ALL_BACKLOG"
                translate-values="{count:vm.backlogTasks.length}"></span>
        </md-button>

        <md-button class="md-primary"
                   ui-sref="done-tasks-backlog"
                   translate-attr="{'aria-label':'DP.GO_TO_DONE_BACKLOG'}">
          <ng-md-icon icon="list"></ng-md-icon>
          <span translate-once="DP.GO_TO_DONE_BACKLOG"></span>
        </md-button>

        <md-button class="md-primary"
                   ng-if="vm.isRemoteTasks"
                   ng-click="vm.refreshRemoteTasks()"
                   translate-attr="{'aria-label':'DP.REFRESH'}">
          <ng-md-icon icon="refresh"></ng-md-icon>
          <span translate-once="DP.REFRESH"></span>
        </md-button>

        <md-button class="md-primary md-warn"
                   ng-click="vm.deleteBacklog()"
                   translate-attr="{'aria-label':'DP.CLEAR_BACKLOG'}">
          <ng-md-icon icon="delete"></ng-md-icon>
          <span translate-once="DP.CLEAR_BACKLOG"></span>
        </md-button>
      </div>
    </section>
  </div>
</div>

